.button{
    border-radius: 4px;
width: 15vw;
border-style: none;
padding: .6rem;
background: #ffffff;

color: #1e3c72;
border: 0;
margin: 0 auto;

margin-bottom: .8rem;
border-radius: 8px;
font-size: 1.2rem;
font-weight: 600;
}