.button{
    background: #ffffff;
    color: #1e3c72;
    border: 0;
    width: 20vw;
    margin: 0 auto;
    padding: .8rem;
    margin-bottom: .8rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
}