
.container{
    display: flex;
    justify-content: space-between;
}
.columns{
    display: flex;

    justify-content: space-between;

    margin-top: 5rem;
 
   
}

.columnA{
    width: 30vw;
}

.columnB{
    margin: 1rem;
}