.container{
    display: flex;
    justify-content: center;
}
.img{
    width: 15vw;
    height: 50vh;
    border-radius: 8px;
}

.lock{
    position: absolute;
    top: 4%;
    right: 4%;
    color: #fff;
}

.Link{
    position: relative;
}