.container {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    gap: 1rem;
    margin-top: 1rem;
    justify-items: center;
    width: 10vw;
    margin-left: 20rem;
}

.img{
    width: 15vw;
    height: 50vh;
    border-radius: 8px;
    object-fit: fill;
}

.lock{
    position: absolute;
    top: 4%;
    right: 4%;
    color: #fff;
}

.Link{
    position: relative;
}

.Mockup{
    position: relative;
}



@keyframes moveGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .animatedBG {
    background: linear-gradient(270deg, #ff00ff, #00ffff, #ff00ff);
    background-size: 400% 400%;
    animation: moveGradient 10s ease infinite;
    width: 15vw;
    height: 50vh;
    border-radius: 8px;
  }


  .tema27 {
    background: linear-gradient(-45deg, #ff4e50, #fc913a, #f9d423, #ff4e50);
    background-size: 300% 300%;
    animation: wave 3s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 50vh;
    border-radius: 8px;
}

@keyframes wave {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



 /* Animação do fundo */
 @keyframes animatedBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  /* Container com fundo animado */
  .tema28 {
    background: linear-gradient(-45deg, #1A237E, #4A148C, #D500F9, #6200EA);
    background-size: 300% 300%;
    animation: animatedBackground 6s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15vw;
    height: 50vh;
    border-radius: 8px;
  }